.users-info-settings-container {
    background-color: #fff;
    height: 800px;
    width: 100%;
    padding: 5px 0;
}

.new-members-container,
.recent-activity-container {
    padding: 20px 5px 0 5px;
    border-bottom: 1px solid $separator-color;
    h2 {
        margin: 5px 0 15px 5px;
    }
}

.new-members-list,
.recent-activity-container {
    li {
        width: 100%;
        padding: 18px 0;
        display: flex;
    }
    li:not(:last-child) {
        border-bottom: 1px solid $separator-color;
    }
}

.member-info,
.activity-info {
    height: 100%;
    flex-basis: 80%;
    display: flex;
    align-items: center;
}

.activity-info {
    flex-basis: 100%;
}

.member-pic-container {
    text-align: center;
    flex-basis: 10%;
}

.member-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.member-details,
.activity-details {
    width: 100%;
    padding-left: 3px;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.member-name {
    font-size: 1rem;
}

.email,
.activity-time {
    font-size: 0.8rem;
    margin-top: 3px;
    color: $primary-color;
}

.date,
.more-info {
    flex-basis: 10%;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.more-info {
    justify-content: center;
    font-size: 1.1rem;
    color: $primary-color;
}