.alert {
    background-color: $primary-color;
    color: #fff;
    font-size: 0.75rem;
    margin: 2px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    &:hover {
        cursor: pointer;
    }
    .alert-content {
        flex-basis: 97%;
    }
    p {
        margin: 3px 0;
    }
    .ion-close {
        flex-basis: 3%;
        text-align: center;
    }
}

@media (min-width:768px) {
    .alert {
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .alert-content {
        h4,
        p {
            display: block;
        }
        p {
            margin-left: 10px;
        }
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}