.main-header {
    background-color: $primary-color;
}

.main-nav {
    color: $font-accent-color;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        display: inline-block;
    }
}

.logo {
    margin-left: 15px;
    font-size: 1.25rem;
    /*20px*/
}

.trademark {
    font-size: 0.75rem;
    /*12px*/
    vertical-align: super;
}

.bold {
    font-weight: $font-weight-bold;
}

.right {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-search-box {
    margin: 0 10px;
    input {
        display: none;
        border-radius: 3px;
        height: 25px;
        border: none;
    }
}

.search {
    margin-right: 25px;
    font-weight: $font-weight-reg;
    font-size: 1.55rem;
}

.notifications {
    align-self: flex-end;
    width: 1.25rem;
    /* 20px */
}

.bell {
    width: 100%;
}

.user-info {
    text-align: center;
}

.user-name,
.profile-pic {
    display: none;
}

.profile-pic {
    margin-left: 10px;
    width: 45px;
    height: auto;
}

.menu {
    display: inline-block;
    margin-left: 15px;
    padding: 0 10px 0 15px;
    font-size: 1.875rem;
    /*30px*/
    border-left: 1px solid $secondary-color;
}

.bell:hover,
.menu:hover,
.search {
    cursor: pointer;
}