.main-header {
    background-color: $primary-color;
}

.main-nav {
    color: $font-accent-color;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        display: inline-block;
    }
}

.logo {
    margin-left: 15px;
    font-size: 1.25rem;
    /*20px*/
}

.trademark {
    font-size: 0.75rem;
    /*12px*/
    vertical-align: super;
}

.bold {
    font-weight: $font-weight-bold;
}

.right {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-search-box {
    margin: 0 10px;
    input {
        border-radius: 3px;
        height: 30px;
        border: none;
        transform: translate3d(5%, 0, 0);
        opacity: 0%;
    }
}

@keyframes slideOut {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 100%;
    }
    to {
        transform: translate3d(5%, 0, 0);
        opacity: 0%;
    }
}

@keyframes slideIn {
    from {
        transform: translate3d(5%, 0, 0);
        opacity: 0%;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 100%;
    }
}

.slideOut {
    animation: slideOut 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.slideIn {
    animation: slideIn 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.search {
    margin-right: 25px;
    font-weight: $font-weight-reg;
    font-size: 1.55rem;
    @include transition(transform, 0.2s, ease);
    &:hover {
        @include rotate(-15deg);
    }
}

.notifications {
    align-self: flex-end;
    width: 1.25rem;
    /* 20px */
}

.bell {
    width: 100%;
    @include transition(transform, 0.2s, ease);
    &:hover {
        @include rotate(15deg);
    }
}

.user-info {
    text-align: center;
}

.user-name,
.profile-pic {
    display: none;
}

.profile-pic {
    margin-left: 10px;
    width: 45px;
    height: auto;
}

.menu {
    display: inline-block;
    margin-left: 15px;
    padding: 0 10px 0 15px;
    font-size: 1.875rem;
    /*30px*/
    border-left: 1px solid $secondary-color;
}

.bell:hover,
.menu:hover,
.search:hover {
    cursor: pointer;
}


/* Notifications Dropdown */

.notifications-dropdown {
    width: 50%;
    padding: 1px;
    background-color: #fff;
    float: right;
    margin-right: 0px;
    li {
        display: block;
        padding: 15px;
        border-bottom: 0.5px solid gray;
    }
    a {
        color: #000;
    }
}