.stats-container {
    margin-top: 5px;
    background-color: #fff;
    padding: 25px 10px 25px 10px;
    border-bottom: 1px solid $separator-color;
    &>div:not(:first-child) {
        margin-top: 25px;
    }
    div[class$="-stats"]:not(:last-child) {
        margin: 20px 0 20px 0;
    }
}

.traffic-graph-container {
    .traffic-view-tabs {
        font-size: 0.9rem;
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        li {
            width: 80px;
            text-align: center;
            margin: 5px;
            border-radius: 20px;
            padding: 5px 10px;
        }
        li:hover,
        li:active {
            background-color: $highlight-color;
            color: #fff;
            font-weight: $font-weight-bold;
        }
    }
}

.active-tab {
    background-color: $highlight-color;
    color: #fff;
    font-weight: $font-weight-bold;
}

@media (min-width:768px) {
    .stats-container {
        padding-bottom: 0;
        border-bottom: none;
    }
    .traffic-graph-container {
        padding-bottom: 25px;
        border-bottom: 1px solid $separator-color;
    }
    .stats-container>div:not(:first-child) {
        margin-top: 0;
    }
    .daily-mobile-container {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .daily-traffic-container,
    .mobile-users-container {
        padding: 25px 0px;
    }
    .daily-traffic-container {
        border-right: 1px solid $separator-color;
        padding-right: 10px;
    }
    #dailyTrafficGraph,
    #mobileUsersGraph {
        margin-top: 20px;
    }
    .mobile-users-container {
        padding-left: 10px;
    }
    .social-stats-container {
        border-top: 1px solid $separator-color;
    }
}