.stats-container {
    margin-top: 5px;
    background-color: #fff;
    padding: 25px 10px 10px 10px;
    border-bottom: 1px solid $separator-color;
    &>div:not(:first-child) {
        margin-top: 25px;
    }
}

.traffic-graph-container {
    // height: 40%;
    .traffic-view-tabs {
        display: flex;
        justify-content: flex-end;
        li {
            width: 80px;
            text-align: center;
            margin: 5px;
            border-radius: 20px;
            padding: 5px 10px;
        }
        li:hover,
        li:active {
            background-color: $highlight-color;
            color: #fff;
            font-weight: $font-weight-bold;
        }
    }
}

.daily-traffic-container {
    // height: 30%;
    // height: 150px;
}

.mobile-users-container {
    // height: 30%;
    // height: 150px;
}

.active-tab {
    background-color: $highlight-color;
    color: #fff;
    font-weight: $font-weight-bold;
}