// =============================================
//              Base Imports                    
// =============================================
@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import 'typography';

/* ============================================= */


/*              Base styles                      */


/* ============================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: $font-family-stack;
    font-weight: $font-weight-reg;
    background-color: lightgray;
}

svg {
    fill: $font-accent-color;
    width: 25px;
    height: 25px;
}

ul {
    list-style-type: none;
}

img {
    display: inline-block;
}

.hidden {
    display: none;
}