// =============================================
//              Base Imports                    
// =============================================
@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import 'typography';

/* ============================================= */


/*              Base styles                      */


/* ============================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    font-family: $font-family-stack;
    font-weight: $font-weight-reg;
    background-color: lightgray;
}

.main-container {
    width: 100vw;
    background-color: #fff;
}

svg {
    fill: $font-accent-color;
    width: 25px;
    height: 25px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    &:hover {
        cursor: pointer;
    }
}

img {
    display: inline-block;
}

.hidden {
    display: none;
}

@media (min-width:768px) {
    main {
        display: grid;
        grid-template-columns: 50px 1fr;
    }
}

@media (min-width:1024px) {
    body {
        font-size: 1.2rem;
    }
}